html,
body { 
     padding: 2;
     margin: 2;
 background: linear-gradient(darkblue , blue);
 font-family: "bbt", monospace;
  letter-spacing: 0;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  font-kerning: none;
  font-feature-settings: "liga" 0, "calt" 0, "kern" 0;
  line-height: 1;
font-size: 20px;
}
#avatar {
    height: 256px;
    width: auto;
       border-radius: 50%;  
       float: left;
       padding: 3px;
}

#h1-mod {
   color: #000000;
 
}

hr  {
    background-color: rgb(7, 66, 83);
    height: 5px;
    border-radius: 7px; 
    clear: both;
    border: none;
}

.nav-buttons {
  border: none;
 border-radius: 4px;
 background-color: lavenderblush;
}

@font-face {
  font-family: "bbt";
  src: url("BigBlueTerm437NerdFontMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}